<div class="card-container">
    <div class="card">
      <div class="card-body">
        <div class="logo-container">
            <img src="assets\img\PulidoRojoLogo.png" alt="Pulido Rojo" class="logo">
        </div>
        <h5 class="card-title">Registro</h5>
        <div class="uno input-container">
            <input type="text" placeholder="Nombre">
        </div>
        <div class="dos input-container">
            <input type="text" placeholder="Apellido">
        </div>
        <div class="tres input-container">
          <input type="text" placeholder="Correo electronico">
      </div>
      <div class="cuatro input-container">
          <input type="text" placeholder="Número telefonico">
      </div>
      <div class="cinco input-container">
        <input type="password" placeholder="Contraseña">
    </div>
    <div class="seis input-container">
        <input type="password" placeholder="Confirmar contraseña">
    </div>
        <button class="btn" [routerLink]="['/pulidorojo']">Registrarse</button>    
      </div>
    </div>
  </div>
  
