<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="container">
        <div class="card-body">
            <h2 class="card-title">NEGOCIO DE LAVADO AUTOMÁTICO</h2>
            <p class="card-text">La mejor experiencia para tu vehículo</p>
        </div>
    </div>
  </div>
</nav>

<div class="container1">
  <div class="texto">
    <h2>¿Quiénes somos?</h2>
    <p>
      Nosotros nos especializamos en ofrecer soluciones integrales de lavado y detallado profesional para vehículos, 
      brindando un servicio que combina insumos de alta calidad, personal capacitado y tecnología de vanguardia. 
      Con presencia en Bogotá, trabajamos bajo los más exigentes estándares del sector, garantizando resultados 
      excepcionales a costos accesibles. Nuestro compromiso es superar las expectativas de cada cliente, proporcionando
      un cuidado superior que prolonga la vida útil y apariencia de sus activos, consolidándonos como la mejor 
      alternativa en relación calidad-precio dentro del mercado.
    </p>
  </div>
</div>

<div class="Titulo1">
  <h2>Nuestra ubicación</h2>
</div>

<div class="ubicacion-container">
  <div class="mapa">
    <a href="https://www.google.com/maps/place/Servi+Wash+Autolavado/@4.6696001,-74.1076513,551m/data=!3m1!1e3!4m10!1m2!2m1!1slavadero+de+coches+cerca+de+Bogotá!3m6!1s0x8e3f9b768b1c2941:0xf46d7c02259a5b96!8m2!3d4.6699778!4d-74.1073569!15sCiNsYXZhZGVybyBkZSBjb2NoZXMgY2VyY2EgZGUgQm9nb3TDoZIBCGNhcl93YXNo4AEA!16s%2Fg%2F1pt_gsft1?hl=es&entry=ttu&g_ep=EgoyMDI1MDMyNC4wIKXMDSoJLDEwMjExNDU1SAFQAw%3D%3D" target="_blank">
      <img src="\assets\img\Ubicacion.png" alt="Ubicación en el mapa">
    </a>
  </div>
  <div class="descripcion">
    <p>Nos encuentras en Bogotá - Avenida Boyacá, zona de fácil acceso, ideal para brindarte atención rápida y cómoda durante tu visita.</p>
  </div>
</div>
