<div class="card-container">
    <div class="card">
      <div class="card-body">
        <div class="logo-container">
            <img src="assets\img\PulidoRojoLogo.png" alt="Pulido Rojo" class="logo">
        </div>
        <h5 class="card-title">Iniciar Sesión</h5>
        <div class="uno input-container">
            <input type="text" placeholder="Ingresar correo">
        </div>
        
        <div class="dos input-container">
            <input type="password" placeholder="Ingresar contraseña">
        </div>
        <button class="btn" [routerLink]="['/inicio']">Inicio Sesión</button>

        <a href="#" [routerLink]="['/registro']" class="link">No tengo cuenta</a>        
      </div>
    </div>
  </div>
  